<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1019066828160-2t4qupr8jf4i85h2fb2aemp2ommmlts9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019066828160-2t4qupr8jf4i85h2fb2aemp2ommmlts9</string>
	<key>API_KEY</key>
	<string>AIzaSyDhpivreh8CNYTrrwSJg3D9zCgwsWf5WNY</string>
	<key>GCM_SENDER_ID</key>
	<string>1019066828160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.superceed.servicemillion</string>
	<key>PROJECT_ID</key>
	<string>superceed-d8462</string>
	<key>STORAGE_BUCKET</key>
	<string>superceed-d8462.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019066828160:ios:ba809ea5d18c7639</string>
	<key>DATABASE_URL</key>
	<string>https://superceed-d8462.firebaseio.com</string>
</dict>
</plist>